{% extends "base.html" %}

{% block title %}Somehit.DEV{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ baseUrl }}assets/css/index.css">
<!-- <script type="text/javascript" src="{{ baseUrl }}assets/js/index.js"></script> -->
{% endblock %}

{% block content %}
<div class="content spacer flex-row">
    <div class="spacer"></div>
    <div id="portraitLD" style="background-image:url('{{ baseUrl }}assets/images/PORTRAIT_LD.PNG')"></div>
    <div class="flex-column" id="profileList">
        <div class="profile-row title">Languages</div>
        <div class="profile-row text">- Python</div>
        <div class="profile-row text">- JMP(JSL include)</div>
        <div class="profile-row text">- JavaScript</div>
        <div class="profile-row text">- .NET</div>

        <div class="profile-row title">Capability</div>
        <div class="profile-row text">- Engineering UI</div>
        <div class="profile-row text">- Data-Science</div>
        <div class="profile-row text">- Raw Data to DB</div>
        <div class="profile-row text">- Web</div>
    </div>
    <!-- <zero-md src="{{ baseUrl }}assets/md/index.md">
        <template>
            <link rel="stylesheet" media="(prefers-color-scheme:light)" href="https://cdn.jsdelivr.net/npm/github-markdown-css@5/github-markdown.min.css" />
        </template>
    </zero-md> -->
    <div class="spacer"></div>
</div>
{% endblock %}
